.navbar {
  display: flex;
  justify-content: space-between;

  padding: var(--space-3) var(--space-6);

  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 2px 8px rgba(67, 56, 202, 0.08);
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.navbar-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-5);
}
.app-name {
  font-size: var(--font-size-display);
}
.navbar-link-container {
  display: flex;
  justify-content: space-between;
  gap: var(--space-4);
}
.navbar .navbar-link {
  display: flex;
  align-items: center;

  padding: var(--space-2);
  gap: var(--space-2);

  color: var(--text-secondary);

  text-decoration: none;
}
.navbar .navbar-link.active {
  color: var(--color-primary-800);
  border-bottom: 2px solid var(--color-primary-800);
}

.navbar-end {
  display: flex;
  align-items: center;
}
