.modal-body-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  border-radius: 999px;
  background-color: var(--error-200);
}

.warning-icon-svg {
  width: 40px;
  height: 40px;
  color: var(--error-700);
}
.delete-modal .delete-modal-body-text-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
.delete-modal .modal-body-text {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  color: var(--text-primary);
  text-align: center;
}
.delete-modal .modal-body-text.bold {
  font-weight: var(--font-weight-bold);
}
.delete-modal .modal-body-sub-text {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--text-secondary);
  text-align: center;
}
