.board-toolbar {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--border-default);

  padding: var(--space-4);
  padding-top: 0;
}

.board-toolbar-start,
.board-toolbar-end {
  display: flex;
  gap: var(--space-3);
}
