.column-container {
  display: flex;
  flex-direction: column;
}
.column-container.dragging {
  background-color: rgb(128, 128, 128, 0.25);
}
.column-container.dragging.hovered {
  background-color: rgb(128, 128, 128, 0.9);
}
.column-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  min-width: 200px;
}
.empty-state-message {
  display: flex;
  justify-content: center;
}
