.card-container {
  border: solid 1px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}
.card-container.dragged {
  background-color: rgb(0, 0, 255, 0.25);
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.tag-container {
  display: flex;
}
.tag-container li {
  list-style-type: none;
  padding: 0 5px;
}
