.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.task-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid;
  width: 450px;
  height: 450px;

  padding: 10px;

  background-color: whitesmoke;
}
.task-modal-container .modal-header {
  display: flex;
  justify-content: center;
}

.task-modal-container .input-container {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.task-modal-container .modal-footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  padding-top: 10px;
}
