html {
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-app);
  color: var(--text-primary);
}

button,
input,
select,
textarea {
  font: inherit;
}
